a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

div.card1 {
 box-shadow: 10px 10px blue;
}

div.card {
  box-shadow: 10px 10px blue;
}

hr {
  border: 1px solid black;
}
h1.topguy {
  text-shadow: 2px 2px blue;
}
h3.topguy {
  text-shadow: 2px 2px blue;
}
.vl {
  border-left: 10px solid black;
  height: 500px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
}
